.tarjeta-producto {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #ee613033;
  margin-bottom: 10px;
}

.tarjeta-producto img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

@media (max-width: 600px) {
  .tarjeta-producto {
    height: 80px;
    gap: 12px;
    padding: 0 12px;
  }

  .tarjeta-producto img {
    height: 80%;
  }
}