body {
    /* font-family: 'Inter', sans-serif; */
    /* line-height: 1.6; */
    font-size: 12pt;
    background-color: #F5E6D3;
    color: #333;
    margin: 0;
    padding: 0;
}

/* header{
    background-color: #A0522D;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.headerPrin h1{
    margin: 0;
}

.headerPrin a{
    text-decoration: none;
    color: #ffffff;
    text-transform: none;
    margin: 0 12px;

}

.headerPrin a:hover{
    color: #D4A437;
}


main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #A0522D;
    letter-spacing: 0.1em;
}

/* sStyle del formulario */

form {
    background: #C47A6D;
    padding: 20px;
    border: 2px solid #D4A437;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 11pt;
    margin: 20px auto;
}

form input, form textarea{
    font-family: 'Inter', sans-serif;
    font-size: 11pt;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #D4A437;
    border-radius: 5px;
}

form button {
    margin-top: 15px;
    padding: 12px;
    background-color: #87A96B;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 9pt;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    border: #D4A437 1px solid;
}

/* Style de Info contacto - redes sociales */
.infoContacto table {
    width: 100%;
    border-collapse: collapse;
}

/* Style de Showroom */
.showroomUbi {
    background: #C47A6D;
    border: 1px solid #D4A437;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

/*Agregado del msje del Java - mensaje exitoso*/
#mensajeExito {
  margin-top: 15px;
  padding: 10px;
  background: #87A96B;
  color: #ffffff;
  border: 1px solid #D4A437;
  border-radius: 5px;
}
