.producto-catalogo {
  background-color: var(--color-acento-claro);
  text-align: center;
  padding: 10px;
  max-width: 400px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 200ms;
}

.producto-catalogo:hover{
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  translate: 0px -5px;
}

.producto-catalogo img{
  max-width:100%;
  aspect-ratio: 1.5;
}

.producto-catalogo-precio{
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px 0;
}

.producto-catalogo-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.producto-catalogo-info h1 {
    font-size: 1.5rem;
    color: var(--color-texto);
    margin: 0;
    font-weight: 700;
}

@media (max-width: 480px) {
  .botones-producto {
    flex-direction: column;
  }
  
  .tarjeta-producto button {
    flex: unset;
  }
}