body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main {
  margin-top: 70px;
  padding: 20px 7%;
}

@media (max-width: 768px) {
  .main {
    padding: 15px 5%;
  }
}

@media (max-width: 480px) {
  .main {
    margin-top: 100px;
    padding: 15px 3%;
  }
}